.cityHistory:hover{
    background: #6c757d;
    color: #ffffff;
    cursor: pointer;
}
.list-group-item{padding: 0.972rem 1.25rem;}
.cityForecastDay:last-of-type {margin-right:0 !important;}
img{width:120px;}
.alert{width: fit-content !important;}
#mapid{height: 395px;}
.card{overflow:hidden;}